Part 1: Initialize PySpark

In [ ]:
!pip3 install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=483f8c6f09e8451f47b05de9d6545105a7e5443b13a5ac478d07a5892ba609db
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Tutorial1_CN7030") \
                            .master("local[*]")\
                            .config("spark.some.config.option", "some-value") \
                            .getOrCreate()

Part 2: Create PySpark DataFrame with an explicit schema

In [ ]:
# PySpark DataFrame with Explicit Schema
df = spark.createDataFrame([
    (1, 87.0, 'Mike', 'math', 'passed'),
    (2, 60.5, 'Mike', 'computing', 'failed'),
    (3, 20.8, 'Mina', 'networking', 'passed'),
    (4, 41.0, 'Emmy', 'math', 'failed'),
    (5, 39.0, 'Alex', 'computing', 'failed'),
    (6, 55.8, 'Alex', 'AI', 'passed'),
    (7, 74.0, 'Emmy', 'AI', 'passed'),
    ], schema = 'ID int, Mark double, Name string, Lesson string, Status string')

# show table
df.show()

# show schema
df.printSchema()

+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

root
 |-- ID: integer (nullable = true)
 |-- Mark: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Lesson: string (nullable = true)
 |-- Status: string (nullable = true)

In [ ]:
data = [[295, "South Bend", "Indiana",  101190, 112.9]]
columns = ["rank", "city", "state",  "population", "price"]

df1 = spark.createDataFrame(data, schema="rank LONG, city STRING, state STRING,  population LONG, price DOUBLE")
display(df1)
df1.show()

DataFrame[rank: bigint, city: string, state: string, population: bigint, price: double]

+----+----------+-------+----------+-----+
|rank|      city|  state|population|price|
+----+----------+-------+----------+-----+
| 295|South Bend|Indiana|    101190|112.9|
+----+----------+-------+----------+-----+

Part 3: Create PySpark DataFrame from Pandas DataFrame

In [ ]:
import numpy as np
import pandas as pd
df_pandas = pd.DataFrame(np.random.randint(0,200,size=(100000, 5)), columns=list('ABCDE'))

In [ ]:
df2 = spark.createDataFrame(df_pandas)

# show table
df2.show()

# show schema
df2.printSchema()

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
| 85| 60| 47|147| 56|
| 73|138|168| 26| 52|
|137|165|172|186| 44|
| 52| 72|198|131|139|
|113| 35|182|140| 69|
| 92|128|119| 88| 78|
|132| 89| 40|120|199|
|191|185| 64|113|139|
| 35| 42| 59|  4|179|
|101|194| 99| 14|157|
| 91| 48| 68|133|151|
| 76|101|118|146| 79|
|128| 77|  8|107|196|
| 49| 51|188| 52|111|
|191|136|150| 14|164|
| 63|170| 57| 69|147|
|132| 43|184| 67| 88|
|145|166|135| 71| 86|
|189| 64|150| 74| 95|
|105| 18| 48|134| 59|
+---+---+---+---+---+
only showing top 20 rows

root
 |-- A: long (nullable = true)
 |-- B: long (nullable = true)
 |-- C: long (nullable = true)
 |-- D: long (nullable = true)
 |-- E: long (nullable = true)

In [ ]:
print(df2.count())

100000

In [ ]:
# Returns a DataFrame that combines the rows of df1 and df
print("rows in df",df.count())
df.show()
print("rows in df1",df1.count())
df1.show()
df3 = df1.union(df)
print("rows in df3")
print(df3.count())
df3.show()
print("showing the data frame from the bottom")
df3.tail(7)

rows in df 7
+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

rows in df1 1
+----+----------+-------+----------+-----+
|rank|      city|  state|population|price|
+----+----------+-------+----------+-----+
| 295|South Bend|Indiana|    101190|112.9|
+----+----------+-------+----------+-----+

rows in df3
8
+----+----------+-------+----------+------+
|rank|      city|  state|population| price|
+----+----------+-------+----------+------+
| 295|South Bend|Indiana|    101190| 112.9|
|   1|      87.0|   Mike|      math|passed|
|   2|      60.5|   Mike| computing|failed|
|   3|      20.8|   Mina|networking|passed|
|   4|      41.0|   Emmy|      math|failed|
|   5|      39.0|   Alex| computing|failed|
|   6|      55.8|   Alex|        AI|passed|
|   7|      74.0|   Emmy|        AI|passed|
+----+----------+-------+----------+------+

showing the data frame from the bottom

[Row(rank=1, city='87.0', state='Mike', population='math', price='passed'),
 Row(rank=2, city='60.5', state='Mike', population='computing', price='failed'),
 Row(rank=3, city='20.8', state='Mina', population='networking', price='passed'),
 Row(rank=4, city='41.0', state='Emmy', population='math', price='failed'),
 Row(rank=5, city='39.0', state='Alex', population='computing', price='failed'),
 Row(rank=6, city='55.8', state='Alex', population='AI', price='passed'),
 Row(rank=7, city='74.0', state='Emmy', population='AI', price='passed')]

How many partitions? - To find the partitions

In [ ]:
Totpartition=df.rdd.getNumPartitions()
print(Totpartition)
newpartitiondf = df.repartition(4)

print(newpartitiondf.rdd.getNumPartitions())

# Repatition by column name into 4 partitions, check the df1 it has a column name city we want it to be in four paritition
df4 = df1.repartition(4, "city")
print(df4.rdd.getNumPartitions())
# Repatition by multiple columns
#df5 = df4.repartition("ColumnName1","ColumnName2")

2
4
4

In [ ]:
myfile="/content/CompleteDataset.csv"
df_fifa = spark.read.format("csv").load(myfile, inferSchema=True, header=True)

In [ ]:
# show table
df_fifa.show(truncate = True)

# show schema
df_fifa.printSchema()

+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|_c0|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|               Club|           Club Logo| Value| Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  0|Cristiano Ronaldo| 32|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|     Real Madrid CF|https://cdn.sofif...|€95.5M|€565K|   2228|          89|        63|     89|     63|          93|       95|      85|   81|       91|       94|                76|        7|         11|        15|            14|         11|              88|           29|     95|          77|        92|     22|       85|         95|       96|           83|        94|            23|          91|     92|             31|      80|    85|     88|89.0|53.0|62.0|91.0|82.0| 20801|89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|             ST LW |89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|92.0|
|  1|         L. Messi| 30|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     93|       93|       FC Barcelona|https://cdn.sofif...| €105M|€565K|   2154|          92|        48|     90|     95|          95|       96|      77|   89|       97|       95|                90|        6|         11|        15|            14|          8|              71|           22|     68|          87|        88|     13|       74|         93|       95|           88|        85|            26|          87|     73|             28|      59|    90|     85|92.0|45.0|59.0|92.0|84.0|158023|92.0|57.0|45.0|84.0|59.0|92.0|90.0|88.0|91.0|62.0|                RW |92.0|57.0|45.0|84.0|59.0|92.0|90.0|88.0|91.0|62.0|88.0|
|  2|           Neymar| 25|https://cdn.sofif...|     Brazil|https://cdn.sofif...|     92|       94|Paris Saint-Germain|https://cdn.sofif...| €123M|€280K|   2100|          94|        56|     96|     82|          95|       92|      75|   81|       96|       89|                84|        9|          9|        15|            15|         11|              62|           36|     61|          75|        77|     21|       81|         90|       88|           81|        80|            33|          90|     78|             24|      53|    80|     83|88.0|46.0|59.0|88.0|79.0|190871|88.0|59.0|46.0|79.0|59.0|88.0|87.0|84.0|89.0|64.0|                LW |88.0|59.0|46.0|79.0|59.0|88.0|87.0|84.0|89.0|64.0|84.0|
|  3|        L. Suárez| 30|https://cdn.sofif...|    Uruguay|https://cdn.sofif...|     92|       92|       FC Barcelona|https://cdn.sofif...|  €97M|€510K|   2291|          88|        78|     86|     60|          91|       83|      77|   86|       86|       94|                84|       27|         25|        31|            33|         37|              77|           41|     69|          64|        86|     30|       85|         92|       93|           83|        87|            38|          77|     89|             45|      80|    84|     88|87.0|58.0|65.0|88.0|80.0|176580|87.0|64.0|58.0|80.0|65.0|88.0|85.0|88.0|87.0|68.0|                ST |87.0|64.0|58.0|80.0|65.0|88.0|85.0|88.0|87.0|68.0|88.0|
|  4|         M. Neuer| 31|https://cdn.sofif...|    Germany|https://cdn.sofif...|     92|       92|   FC Bayern Munich|https://cdn.sofif...|  €61M|€230K|   1493|          58|        29|     52|     35|          48|       70|      15|   14|       30|       13|                11|       91|         90|        95|            91|         89|              25|           30|     78|          59|        16|     10|       47|         12|       85|           55|        25|            11|          61|     44|             10|      83|    70|     11|NULL|NULL|NULL|NULL|NULL|167495|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  5|   R. Lewandowski| 28|https://cdn.sofif...|     Poland|https://cdn.sofif...|     91|       91|   FC Bayern Munich|https://cdn.sofif...|  €92M|€355K|   2143|          79|        80|     78|     80|          89|       87|      62|   77|       85|       91|                84|       15|          6|        12|             8|         10|              85|           39|     84|          65|        83|     25|       81|         91|       91|           83|        88|            19|          83|     79|             42|      84|    78|     87|84.0|57.0|62.0|87.0|78.0|188545|84.0|58.0|57.0|78.0|62.0|87.0|82.0|88.0|84.0|61.0|                ST |84.0|58.0|57.0|78.0|62.0|87.0|82.0|88.0|84.0|61.0|88.0|
|  6|           De Gea| 26|https://cdn.sofif...|      Spain|https://cdn.sofif...|     90|       92|  Manchester United|https://cdn.sofif...|€64.5M|€215K|   1458|          57|        38|     60|     43|          42|       64|      17|   21|       18|       13|                19|       90|         85|        87|            86|         90|              21|           30|     67|          51|        12|     13|       40|         12|       88|           50|        31|            13|          58|     40|             21|      64|    68|     13|NULL|NULL|NULL|NULL|NULL|193080|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  7|        E. Hazard| 26|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     90|       91|            Chelsea|https://cdn.sofif...|€90.5M|€295K|   2096|          93|        54|     93|     91|          92|       87|      80|   82|       93|       83|                79|       11|         12|         6|             8|          8|              57|           41|     59|          81|        82|     25|       86|         85|       85|           86|        79|            22|          87|     79|             27|      65|    86|     79|88.0|47.0|61.0|87.0|81.0|183277|88.0|59.0|47.0|81.0|61.0|87.0|87.0|82.0|88.0|64.0|                LW |88.0|59.0|47.0|81.0|61.0|87.0|87.0|82.0|88.0|64.0|82.0|
|  8|         T. Kroos| 27|https://cdn.sofif...|    Germany|https://cdn.sofif...|     90|       90|     Real Madrid CF|https://cdn.sofif...|  €79M|€340K|   2165|          60|        60|     71|     69|          89|       85|      85|   85|       79|       76|                84|       10|         11|        13|             7|         10|              54|           85|     32|          93|        90|     63|       73|         79|       86|           90|        87|            69|          52|     77|             82|      74|    88|     82|83.0|72.0|82.0|81.0|87.0|182521|83.0|76.0|72.0|87.0|82.0|81.0|81.0|77.0|80.0|78.0|            CDM CM |83.0|76.0|72.0|87.0|82.0|81.0|81.0|77.0|80.0|78.0|77.0|
|  9|       G. Higuaín| 29|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     90|       90|           Juventus|https://cdn.sofif...|  €77M|€275K|   1961|          78|        50|     75|     69|          85|       86|      68|   74|       84|       91|                62|        5|         12|         7|             5|         10|              86|           20|     79|          59|        82|     12|       70|         92|       88|           75|        88|            18|          80|     72|             22|      85|    70|     88|81.0|46.0|52.0|84.0|71.0|167664|81.0|51.0|46.0|71.0|52.0|84.0|79.0|87.0|82.0|55.0|                ST |81.0|51.0|46.0|71.0|52.0|84.0|79.0|87.0|82.0|55.0|87.0|
| 10|     Sergio Ramos| 31|https://cdn.sofif...|      Spain|https://cdn.sofif...|     90|       90|     Real Madrid CF|https://cdn.sofif...|  €52M|€310K|   2153|          75|        84|     79|     60|          84|       80|      66|   73|       61|       60|                67|       11|          8|         9|             7|         11|              91|           88|     93|          72|        55|     86|       68|         52|       85|           78|        79|            91|          77|     84|             89|      81|    63|     66|70.0|87.0|83.0|70.0|74.0|155862|70.0|84.0|87.0|74.0|83.0|70.0|71.0|72.0|69.0|81.0|                CB |70.0|84.0|87.0|74.0|83.0|70.0|71.0|72.0|69.0|81.0|72.0|
| 11|     K. De Bruyne| 26|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     89|       92|    Manchester City|https://cdn.sofif...|  €83M|€285K|   2162|          76|        68|     80|     75|          87|       84|      90|   83|       85|       83|                83|       15|         13|         5|            10|         13|              53|           56|     65|          84|        86|     30|       77|         84|       88|           90|        85|            40|          75|     87|             51|      73|    90|     82|86.0|57.0|70.0|85.0|84.0|192985|86.0|66.0|57.0|84.0|70.0|85.0|85.0|81.0|85.0|71.0|         RM CM CAM |86.0|66.0|57.0|84.0|70.0|85.0|85.0|81.0|85.0|71.0|81.0|
| 12|      T. Courtois| 25|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     89|       92|            Chelsea|https://cdn.sofif...|  €59M|€190K|   1282|          46|        23|     61|     45|          23|       52|      14|   19|       13|       14|                11|       85|         91|        69|            86|         88|              13|           15|     68|          31|        17|     11|       27|         13|       81|           32|        36|            16|          52|     38|             18|      70|    44|     12|NULL|NULL|NULL|NULL|NULL|192119|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 13|       A. Sánchez| 28|https://cdn.sofif...|      Chile|https://cdn.sofif...|     89|       89|            Arsenal|https://cdn.sofif...|€67.5M|€265K|   2181|          88|        80|     90|     87|          87|       86|      80|   78|       90|       85|                78|       10|         10|        15|            12|         13|              70|           42|     85|          73|        82|     30|       77|         86|       87|           81|        84|            35|          84|     85|             39|      72|    83|     83|85.0|56.0|64.0|85.0|79.0|184941|85.0|62.0|56.0|79.0|64.0|85.0|85.0|83.0|86.0|66.0|       RM LW ST LM |85.0|62.0|56.0|79.0|64.0|85.0|85.0|83.0|86.0|66.0|83.0|
| 14|        L. Modrić| 31|https://cdn.sofif...|    Croatia|https://cdn.sofif...|     89|       89|     Real Madrid CF|https://cdn.sofif...|  €57M|€340K|   2228|          75|        62|     93|     94|          92|       84|      78|   79|       86|       71|                77|       13|          9|         7|            14|          9|              55|           76|     67|          83|        82|     66|       80|         79|       88|           92|        73|            73|          71|     82|             80|      58|    90|     74|86.0|72.0|80.0|83.0|86.0|177003|86.0|78.0|72.0|86.0|80.0|83.0|84.0|76.0|83.0|80.0|            CDM CM |86.0|78.0|72.0|86.0|80.0|83.0|84.0|76.0|83.0|80.0|76.0|
| 15|          G. Bale| 27|https://cdn.sofif...|      Wales|https://cdn.sofif...|     89|       89|     Real Madrid CF|https://cdn.sofif...|€69.5M|€370K|   2263|          93|        65|     77|     65|          87|       85|      87|   86|       89|       87|                85|       15|         15|        11|             5|          6|              86|           59|     85|          80|        90|     51|       76|         86|       87|           86|        91|            52|          95|     76|             55|      80|    79|     76|86.0|67.0|71.0|87.0|81.0|173731|86.0|72.0|67.0|81.0|71.0|87.0|87.0|87.0|87.0|74.0|                RW |86.0|72.0|67.0|81.0|71.0|87.0|87.0|87.0|87.0|74.0|87.0|
| 16|        S. Agüero| 29|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     89|       89|    Manchester City|https://cdn.sofif...|€66.5M|€325K|   2074|          90|        63|     86|     91|          89|       90|      70|   82|       89|       90|                72|       13|         15|         6|            11|         14|              68|           24|     80|          63|        83|     13|       83|         91|       89|           79|        88|            12|          84|     74|             20|      74|    83|     85|85.0|44.0|54.0|87.0|75.0|153079|85.0|52.0|44.0|75.0|54.0|87.0|84.0|86.0|86.0|57.0|                ST |85.0|52.0|44.0|75.0|54.0|87.0|84.0|86.0|86.0|57.0|86.0|
| 17|     G. Chiellini| 32|https://cdn.sofif...|      Italy|https://cdn.sofif...|     89|       89|           Juventus|https://cdn.sofif...|  €38M|€225K|   1867|          68|        92|     59|     64|          57|       82|      58|   60|       58|       33|                31|        3|          3|         2|             4|          3|              84|           88|     89|          59|        49|     92|       50|         28|       82|           59|        78|            90|          78|     68|             92|      91|    50|     45|55.0|86.0|76.0|55.0|60.0|138956|55.0|78.0|86.0|60.0|76.0|55.0|58.0|59.0|56.0|75.0|                CB |55.0|78.0|86.0|60.0|76.0|55.0|58.0|59.0|56.0|75.0|59.0|
| 18|        G. Buffon| 39|https://cdn.sofif...|      Italy|https://cdn.sofif...|     89|       89|           Juventus|https://cdn.sofif...| €4.5M|€110K|   1335|          49|        38|     55|     49|          28|       70|      13|   20|       26|       15|                13|       89|         88|        74|            90|         84|              13|           28|     75|          35|        13|     10|       22|         12|       80|           37|        39|            11|          43|     39|             11|      69|    50|     17|NULL|NULL|NULL|NULL|NULL|  1179|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
| 19|        P. Dybala| 23|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     88|       93|           Juventus|https://cdn.sofif...|  €79M|€215K|   2063|          88|        48|     91|     85|          93|       84|      80|   88|       92|       85|                84|        5|          4|         4|             5|          8|              68|           24|     75|          71|        88|     14|       86|         84|       84|           83|        82|            20|          84|     83|             20|      65|    84|     88|86.0|43.0|55.0|86.0|78.0|211110|86.0|55.0|43.0|78.0|55.0|86.0|86.0|83.0|87.0|60.0|            ST CAM |86.0|55.0|43.0|78.0|55.0|86.0|86.0|83.0|87.0|60.0|83.0|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Aggression: string (nullable = true)
 |-- Agility: string (nullable = true)
 |-- Balance: string (nullable = true)
 |-- Ball control: string (nullable = true)
 |-- Composure: string (nullable = true)
 |-- Crossing: string (nullable = true)
 |-- Curve: string (nullable = true)
 |-- Dribbling: string (nullable = true)
 |-- Finishing: string (nullable = true)
 |-- Free kick accuracy: string (nullable = true)
 |-- GK diving: string (nullable = true)
 |-- GK handling: string (nullable = true)
 |-- GK kicking: string (nullable = true)
 |-- GK positioning: string (nullable = true)
 |-- GK reflexes: string (nullable = true)
 |-- Heading accuracy: string (nullable = true)
 |-- Interceptions: string (nullable = true)
 |-- Jumping: string (nullable = true)
 |-- Long passing: string (nullable = true)
 |-- Long shots: string (nullable = true)
 |-- Marking: string (nullable = true)
 |-- Penalties: string (nullable = true)
 |-- Positioning: string (nullable = true)
 |-- Reactions: string (nullable = true)
 |-- Short passing: string (nullable = true)
 |-- Shot power: string (nullable = true)
 |-- Sliding tackle: string (nullable = true)
 |-- Sprint speed: string (nullable = true)
 |-- Stamina: string (nullable = true)
 |-- Standing tackle: string (nullable = true)
 |-- Strength: string (nullable = true)
 |-- Vision: string (nullable = true)
 |-- Volleys: string (nullable = true)
 |-- CAM: double (nullable = true)
 |-- CB: double (nullable = true)
 |-- CDM: double (nullable = true)
 |-- CF: double (nullable = true)
 |-- CM: double (nullable = true)
 |-- ID: integer (nullable = true)
 |-- LAM: double (nullable = true)
 |-- LB: double (nullable = true)
 |-- LCB: double (nullable = true)
 |-- LCM: double (nullable = true)
 |-- LDM: double (nullable = true)
 |-- LF: double (nullable = true)
 |-- LM: double (nullable = true)
 |-- LS: double (nullable = true)
 |-- LW: double (nullable = true)
 |-- LWB: double (nullable = true)
 |-- Preferred Positions: string (nullable = true)
 |-- RAM: double (nullable = true)
 |-- RB: double (nullable = true)
 |-- RCB: double (nullable = true)
 |-- RCM: double (nullable = true)
 |-- RDM: double (nullable = true)
 |-- RF: double (nullable = true)
 |-- RM: double (nullable = true)
 |-- RS: double (nullable = true)
 |-- RW: double (nullable = true)
 |-- RWB: double (nullable = true)
 |-- ST: double (nullable = true)

In [ ]:
print(df_fifa.count())
print(len(df_fifa.columns))

17981
75

In [ ]:
# Count rows using rdd attribute
row_count = df_fifa.rdd.count()

print(f'The DataFrame has {row_count} rows.')

The DataFrame has 17981 rows.

In [ ]:
# Change the number of partitions
df_fifa = df_fifa.repartition(4)
df_fifa.rdd.getNumPartitions()

4

In [ ]:
# showing Age more than  20
subset_Age = df_fifa.filter(df_fifa["Age"] > 30)
subset_Age.show(10)

+-----+-------------+---+--------------------+-------------+--------------------+-------+---------+--------------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  _c0|         Name|Age|               Photo|  Nationality|                Flag|Overall|Potential|                Club|           Club Logo|Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+-----+-------------+---+--------------------+-------------+--------------------+-------+---------+--------------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
| 6913|     R. Grzyb| 34|https://cdn.sofif...|       Poland|https://cdn.sofif...|     68|       68|Jagiellonia Biały...|https://cdn.sofif...|€270K| €6K|   1779|          68|        70|     73|     77|          62|       74|      65|   57|       61|       38|                17|        8|         13|        11|             8|         10|              56|           82|     81|          64|        67|     61|       52|         64|       61|           64|        68|            69|          33|     72|             64|      69|    56|     58|60.0|66.0|67.0|58.0|63.0|182844|60.0|65.0|66.0|63.0|67.0|58.0|60.0|57.0|59.0|65.0|            RB CDM |60.0|65.0|66.0|63.0|67.0|58.0|60.0|57.0|59.0|65.0|57.0|
| 7899|Ricardo Nunes| 31|https://cdn.sofif...| South Africa|https://cdn.sofif...|     67|       67|      Pogoń Szczecin|https://cdn.sofif...|€500K| €4K|   1819|          78|        53|     70|     73|          65|       70|      70|   71|       62|       45|                67|       14|         10|        11|            14|          7|              43|           65|     68|          65|        63|     59|       59|         64|       57|           59|        64|            65|          77|     75|             68|      65|    54|     39|61.0|61.0|63.0|61.0|62.0|212014|61.0|66.0|61.0|62.0|63.0|61.0|64.0|58.0|63.0|66.0|                LB |61.0|66.0|61.0|62.0|63.0|61.0|64.0|58.0|63.0|66.0|58.0|
| 5713|    Kike Sola| 31|https://cdn.sofif...|        Spain|https://cdn.sofif...|     70|       70|Athletic Club de ...|https://cdn.sofif...|€1.6M|€17K|   1717|          56|        72|     65|     68|          73|       63|      59|   59|       71|       68|                59|        6|          9|        10|             4|          2|              78|           43|     59|          55|        65|     40|       63|         71|       61|           71|        69|            42|          47|     30|             45|      76|    56|     65|66.0|56.0|55.0|67.0|61.0|185073|66.0|51.0|56.0|61.0|55.0|67.0|63.0|69.0|65.0|52.0|                ST |66.0|51.0|56.0|61.0|55.0|67.0|63.0|69.0|65.0|52.0|69.0|
| 4044| O. Deschacht| 36|https://cdn.sofif...|      Belgium|https://cdn.sofif...|     71|       71|      RSC Anderlecht|https://cdn.sofif...|€325K|€10K|   1634|          47|        67|     55|     59|          62|       77|      64|   42|       47|       37|                31|        6|         14|        10|            12|          6|              71|           80|     55|          60|        52|     71|       36|         47|       65|           65|        62|            70|          49|     65|             72|      72|    57|     26|55.0|70.0|68.0|54.0|61.0| 49161|55.0|67.0|70.0|61.0|68.0|54.0|56.0|54.0|54.0|66.0|             LB CB |55.0|67.0|70.0|61.0|68.0|54.0|56.0|54.0|54.0|66.0|54.0|
|11763|    Y. Urbina| 34|https://cdn.sofif...|       Mexico|https://cdn.sofif...|     64|       64|    Monarcas Morelia|https://cdn.sofif...|€180K|€12K|   1119|          47|        44|     61|     65|          21|       57|      12|   13|       21|       12|                12|       65|         59|        62|            64|         66|              13|           24|     63|          31|        18|     14|       21|         11|       63|           21|        21|            13|          44|     36|             11|      55|    23|     13|NULL|NULL|NULL|NULL|NULL|140244|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|13000| E. Domaschke| 31|https://cdn.sofif...|      Germany|https://cdn.sofif...|     62|       62|           SV Meppen|https://cdn.sofif...|€180K| €1K|   1038|          36|        29|     41|     53|          22|       38|      11|   10|       19|       10|                12|       61|         62|        66|            56|         63|              13|           13|     62|          22|        12|     10|       22|         15|       58|           23|        23|            10|          40|     24|             15|      69|    46|     10|NULL|NULL|NULL|NULL|NULL|183596|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|  909|    Guilherme| 31|https://cdn.sofif...|       Russia|https://cdn.sofif...|     78|       78|    Lokomotiv Moscow|https://cdn.sofif...|€6.5M|€33K|   1185|          37|        35|     54|     30|          21|       65|      13|   19|       16|       11|                12|       82|         73|        70|            77|         78|              13|           21|     62|          33|        16|     14|       12|         13|       74|           39|        22|            18|          40|     34|             16|      62|    55|     13|NULL|NULL|NULL|NULL|NULL|180714|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|                GK |NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|
|10678|     M. Burch| 33|https://cdn.sofif...|United States|https://cdn.sofif...|     65|       65|   Minnesota Thunder|https://cdn.sofif...|€210K| €2K|   1796|          60|      66-2|     68|     59|          63|       61|      67|   63|       61|       50|              66-5|        7|         13|        10|             6|         16|              59|           62|     66|        55-3|        66|     64|       59|       51-4|       61|           58|      81-4|            64|          67|     72|             66|      63|    55|     52|59.0|63.0|62.0|59.0|60.0|176075|59.0|64.0|63.0|60.0|62.0|59.0|60.0|60.0|60.0|64.0|                LB |59.0|64.0|63.0|60.0|62.0|59.0|60.0|60.0|60.0|64.0|60.0|
| 5178|  P. Quiñonez| 31|https://cdn.sofif...|      Ecuador|https://cdn.sofif...|     70|       70|                NULL|https://cdn.sofif...|   €0|  €0|   1955|          73|        71|     68|     80|          70|       69|      71|   56|       60|       61|                74|       14|          7|        15|            16|         13|              66|           72|     61|          73|        78|     60|       68|         52|       78|           75|        83|            59|          72|     72|             67|      35|    67|     68|68.0|64.0|69.0|67.0|70.0|190559|68.0|69.0|64.0|70.0|69.0|67.0|68.0|66.0|67.0|69.0|            CM CDM |68.0|69.0|64.0|70.0|69.0|67.0|68.0|66.0|67.0|69.0|66.0|
| 1676|   G. Johnson| 32|https://cdn.sofif...|      England|https://cdn.sofif...|     75|       75|          Stoke City|https://cdn.sofif...|€3.7M|€52K|   2006|          74|        71|     72|     67|          77|       72|      75|   69|       78|       54|                54|       13|          7|         7|             6|          7|              68|           68|     77|          70|        70|     75|       60|         69|       74|           75|        79|            77|          69|     71|             76|      72|    69|     56|72.0|73.0|73.0|72.0|72.0|137782|72.0|74.0|73.0|72.0|73.0|72.0|73.0|69.0|72.0|74.0|                RB |72.0|74.0|73.0|72.0|73.0|72.0|73.0|69.0|72.0|74.0|69.0|
+-----+-------------+---+--------------------+-------------+--------------------+-------+---------+--------------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 10 rows

In [ ]:
df_fifa.select("Name","Club").distinct().show(100)

+---------------+--------------------+
|           Name|                Club|
+---------------+--------------------+
|      C. Vargas|Atletico Nacional...|
|Simão Donatinho|Clube Atlético Pa...|
|   L. Coulibaly|          Angers SCO|
|      H. Osorio|Independiente San...|
|  M. Migliorini|            Avellino|
|    D. Petković|          FC Lorient|
|       O. Şahan|         Trabzonspor|
|      G. Donsah|             Bologna|
|      A. Sukhov|              FC Ufa|
|      A. Mawson|        Swansea City|
|      K. Kamara|New England Revol...|
|      P. McGinn|Partick Thistle F.C.|
|        I. Boye|           Örebro SK|
|         S. Old|           Morecambe|
|  M. Villasanti|           Temperley|
|       L. Nolan|  Accrington Stanley|
|     J. Joronen|          AC Horsens|
|    T. McCarron|          Finn Harps|
|       J. Terry|         Aston Villa|
|      F. Kessié|               Milan|
|     S. Ulreich|    FC Bayern Munich|
|      A. Stokes|           Hibernian|
|       G. Torje|Kardemir Karabükspor|
|           Eder|               Inter|
|     L. Civelli|            Banfield|
|      D. Jevtić|         Lech Poznań|
|       H. Okuno|      Vegalta Sendai|
|       Casemiro|      Real Madrid CF|
|       Costinha|     Vitória Setúbal|
|        R. Wolf|  Fortuna Düsseldorf|
|         S. Cox|     Southend United|
|    Kim Min Tae|Hokkaido Consadol...|
|   S. Heidinger|       Holstein Kiel|
|     J. Sánchez|Atlético Bucaramanga|
|    M. Djuricin|Grasshopper Club ...|
|       T. Moore|             Arsenal|
|    M. Ramsland|             Sogndal|
|   P. Grazziani|   Alianza Petrolera|
|      N. Diallo|    Stade Rennais FC|
|    R. Robitsch|      Wolfsberger AC|
|       Y. Ogawa|     Albirex Niigata|
|    M. Mitrović|         SønderjyskE|
|     T. Johnson|         Southampton|
|         Tienza| Real Betis Balompié|
|S. Brunstad Fet|        Aalesunds FK|
|     W. Johnson|Orlando City Socc...|
|      S. Müller|          1. FC Köln|
|      Alan Baró|Central Coast Mar...|
|        Rolando|Olympique de Mars...|
|    L. Desábato|     Vélez Sarsfield|
|      A. Shunin|       Dinamo Moscow|
|     E. Manjedo|CD Universidad de...|
|       N. Matić|   Manchester United|
|    P. Hoffmann|  SC Preußen Münster|
|      B. Romero|  Argentinos Juniors|
| Laure Santeiro|            Cruzeiro|
|     E. Codesto|           Colo-Colo|
|    N. Boogaard|      Newcastle Jets|
|      Y. Thuram|         Le Havre AC|
|     C. Bolaños|Vancouver Whiteca...|
|       A. Frara|           Frosinone|
|        J. Leca|          AC Ajaccio|
|       S. Popov|        Kasimpaşa SK|
|         F. Due|          Randers FC|
|    C. Kahraman|  1. FC Union Berlin|
|    A. Connolly|Brighton & Hove A...|
|     M. Attiyah|           Ohod Club|
|       S. Tuton|            Barnsley|
|   Rafael Costa|       Moreirense FC|
|      A. Rochat|  FC Lausanne-Sports|
|    Saúl Berjón|         Real Oviedo|
|         Y. Ito|     Kashima Antlers|
|       K. Rekik|   Hertha BSC Berlin|
|    Fábio China|         CS Marítimo|
|     J. Walters|             Burnley|
|  R. van Eijden|          AZ Alkmaar|
|        Nicolas|       Hellas Verona|
|        G. Baah|  New York Red Bulls|
|  Borja Herrera|       UD Las Palmas|
|       J. Jones|          Kilmarnock|
|     S. Asamoah|   Sint-Truidense VV|
|     C. Maloney|    Columbus Crew SC|
|  E. Gründemann|       Hansa Rostock|
|      A. Zerbin|              Napoli|
|      W. Miller|       Burton Albion|
|    B. Urbański|           Willem II|
|         C. Rúa|           Tigres FC|
|       A. Power|          Kilmarnock|
|     C. Jullien|         Toulouse FC|
|     K. Bennett|          Portsmouth|
|     M. Barbosa|       Villarreal CF|
|     N. de Jong|      Galatasaray SK|
|     L. Trotter|       AFC Wimbledon|
|     R. Lentini|        Bahía Blanca|
|   J. De Guzmán| Eintracht Frankfurt|
|    S. Dzhanaev|         Rubin Kazan|
|     A. Akaichi|          Al Ittihad|
|      C. Davies|        Derby County|
|   I. Uzochukwu|     Odense Boldklub|
|         Falcao|           AS Monaco|
+---------------+--------------------+
only showing top 100 rows